<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5-1</key>
	<string>Gloves</string>
	<key>5-2</key>
	<string>Easiest to find is the &lt;b&gt;club&lt;/b&gt; which is really thick at one end. But her &lt;b&gt;hair&lt;/b&gt; is special too with that tuft at the top. It is made such that the &lt;b&gt;bone&lt;/b&gt; can be snapped there. Which means the bone is another item to feel for.</string>
	<key>5-3</key>
	<string>This is probably the easiest figure to identify in Series 5. Her &lt;b&gt;dress&lt;/b&gt; is made like a rectangular &quot;cone&quot; and quite bulky. Add to this that the &lt;b&gt;snake&lt;/b&gt; is easy to identify too.</string>
	<key>5-4</key>
	<string>Feel for the hat, the cake and the legs. The &lt;b&gt;hat&lt;/b&gt; is round and has a narrow brim around it. The &lt;b&gt;cake&lt;/b&gt; is designed to sit on the top of the minifigure hand so there a round hole under it. The edge of the &lt;b&gt;cake&lt;/b&gt; is jagged which can be felt using your nails. As this is a small minifigure its &lt;b&gt;legs&lt;/b&gt; don&apos;t bend. (Something it has in common with the &lt;b&gt;Evil Dwarf&lt;/b&gt;.) They feel like a rectangular box that is open on one of the long sides.</string>
	<key>5-5</key>
	<string>The &lt;b&gt;helmet&lt;/b&gt; is very distinct with it&apos;s two wings. Remember that the &lt;b&gt;axe&lt;/b&gt; consists of two parts. The head of it is a twin axe which is quite easy to identify. As with the &lt;b&gt;Small Clown&lt;/b&gt; the legs don&apos;t bend. They feel like a rectangular box that is open on one of the long sides.</string>
	<key>5-6</key>
	<string>Ice Fisherman</string>
</dict>
</plist>
